body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}

#gameboard {
	position:relative;
	margin:0 auto 2em auto;
	width:500px;
	height:500px;
}

#gameboard shipcell{
	position:absolute;
	/* -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	/* -moz-box-sizing: border-box;    Firefox 1 - 28 */
	/* box-sizing: border-box;         Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */ */
	background: #04608f; 
	border: 1px solid rgb(53, 1, 25);
	width:50px;
	height:50px;
}

h1 {
	color: rgb(43, 105, 238);
	text-align: center;
}